<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <form method="POST" action="/login">
            User : <input type="text" name="username"> <br/>
            Pass : <input type="text" name="password"> <br/>
            Email : <input type="text" name="email"> <br/>
            Data birth : <input type="date" name="date_birth"> <br/>
            <input type="submit" value="Send">
        </form>
    </body>
</html>
