<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <form method="POST" action="/message/new">
            Message : <br />
            <textarea name="message"></textarea> <br/>
            <input type="submit" value="Send">
        </form>
    </body>
</html>
